//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across application.

//$gray-darker: #333 !default;
//$gray-dark: #666 !default;
//$gray: #ccc !default;
//$gray-light: #e2e2e2 !default;
//$gray-lighter: #eee !default;

//$brand-primary: #000000 !default;
//$brand-accent: #000000 !default;

//$brand-event: #000000 !default;
//$brand-agent: #000000 !default;
//$brand-space: #000000 !default;
//$brand-project: #000000 !default;

//$brand-info: #000000 !default;
//$brand-warning: #000000 !default;
//$brand-danger: #000000 !default;
//$brand-success: #000000 !default;
//$brand-default: $gray-light !default;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
// $body-bg:               #ffffff !default;


//** Global text color on `<body>`.
// $text-color:            $gray-darker !default;


//** Global textual link color.
//$link-color:            $brand-accent !default;


//** Link hover color same as $link-color.
//$link-hover-color:      $link-color !default;


$brand-primary: #00317b !default;
$brand-event:   #0172c0 !default;
$brand-agent:   #185693 !default;
$brand-space:   #22448b !default;
$brand-project: #2460ac !default;